<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="customerForm.form.valid && onSubmit()" #customerForm="ngForm">
            <div class="form-group">
                <label for="firstname">Firstname</label>
                <input class="form-control" type="text" [(ngModel)]="customer.firstname" name="firstname" id="firstname"
                    #firstname="ngModel" [ngClass]="{ 'is-invalid': customerForm.submitted && firstname.invalid }"
                    placeholder="Enter your firstname" required>
                <div class="invalid-feedback" *ngIf="customerForm.submitted && firstname.invalid">
                    <p *ngIf="firstname.errors">
                        Please fill out this field.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label for="lastname">Lastname</label>
                <input class="form-control" type="text" [(ngModel)]="customer.lastname" name="lastname" id="lastname"
                    #lastname="ngModel" [ngClass]="{ 'is-invalid': customerForm.submitted && lastname.invalid }"
                    placeholder="Enter your lastname" required>
                <div class="invalid-feedback" *ngIf="customerForm.submitted && lastname.invalid">
                    <p *ngIf="lastname.errors">
                        Please fill out this field.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="text" [(ngModel)]="customer.email" name="email" id="email"
                    #email="ngModel" placeholder="Enter your email"
                    [ngClass]="{ 'is-invalid': customerForm.submitted && email.invalid }" required>
                <div class="invalid-feedback" *ngIf="customerForm.submitted && email.invalid">
                    <p *ngIf="email.errors">
                        Please fill out this field.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label for="phone">Phone</label>
                <input class="form-control" type="text" [(ngModel)]="customer.phone" name="phone" id="phone"
                    #phone="ngModel">
            </div>
            <div class="form-group">   
                <button type="submit" class="btn btn-primary">{{ mode == 'edit' ? 'Update' : 'Create' }}</button>
            </div>
        </form>
    </div>
</div>